<tr class="border-top">
  <td>
    <span class='text-<%= symbol(task).color %>'><%= symbol(task).icon %></span>
    <% mute_task = task.done?%>
    <%= mute_task ? '<s class="text-muted">'.html_safe : '' %>
     <%= task.description %>
    <%= mute_task ? '</s>'.html_safe : '' %>
  </td>
  <td><%= l task.due_date %></td>
  <td>
    <%= link_to 'Editar', edit_task_path(task), class: 'btn btn-secondary btn-sm' %>
    <%= link_to 'Apagar', task, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Confirmar ação?' } %>
  </td>
</tr>
