<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='d-flex h-100 align-items-center justify-content-center row bg'>
      <main class='col-11 col-md-10 col-lg-8 shadow-lg p-5 mb-5 bg-white rounded'>
        <%= render partial: 'shared/flash_messages' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
